.bar {
  background: #e0dbdb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  .bar-fill {
    height: 2.8rem;
    width: 80%;
    background: darken(#30475e, 10%);
    .tag {
      color: #fff;
      width: 10rem;
      height: 100%;
      background: lighten(#30475e, 10%);
      padding: 0.5rem;
    }
  }
}
