html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.primary-text {
  color: #f05454;
}

.primary-bg {
  background-color: #f05454;
}

.section-heading {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 5rem;
  &:after {
    content: "";
    position: absolute;
    height: 5px;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 10%;
    background: #444649;
  }
}

.sub-heading {
  font-weight: 600;
  font-size: 2.7rem;
  color: #444649;
}

.para {
  color: #444649;
  font-size: 1.7rem;
}

.main-btn {
  font-size: 2.2rem;
  a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 1rem 1.5rem;
    display: inline-block;
    line-height: 3rem;
    transition: background 0.5s;
    i {
      transition: transform 0.5s;
      font-size: 1.5rem;
    }

    &:hover {
      background: #222831;
      border-color: #222831;
    }

    &:hover i {
      transform: rotate(90deg);
    }
  }
}
